/* Bright Colors: http://paletton.com/#uid=72W0u0kg0qK6oHZb0vJljlqqZfL */
/* Soft Colors: http://paletton.com/#uid=72W0u0k5Lnh1wAO3vs38ij6aUed */

/* Initialize */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, pre, blockquote, cite, table {
	margin-bottom: 1em;
}

ul, ol, li {
	margin-left: 0;
}

hr {
	margin: 0;
	padding: 0;
}

::selection {
    background: #214B2F;
    color: #BEC7C1;
}

::-moz-selection { /* Code for Firefox */
    background: #214B2F;
    color: #BEC7C1;
}

/* Page Wrappers */
html {
	min-height:100%;
	width: 100%;
}

body {
	position: relative;
	min-height: 100%;
	width: 100%;
	text-align: left;
	font-family: Lato, Arial, sans-serif;
	color: #333;
	background-color: #BEC7C1;
	font-size: 14px;
	overflow: auto;
}

/* Common Tags */
h1, h2, h3 {
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 1.8em;
	clear: both;
	font-family: 'Roboto Slab';
    text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
}

@media (min-width: 768px) {
	
	h1 {
		font-size: 3.4em;
		width: 75%;
		text-shadow: 2px 2px 0 rgba(0,0,0,0.15);
	}
	
}

h2 {
    font-size: 2em;
}

h3 {
	font-size: 1.7em;
}

p {
    font-size: 1.4em;
	margin-bottom: 1.2em;
}

/* Links */
a {
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}

a, a:visited {
	color: #253e6b;
	text-decoration: none;
}

a:hover, a:visited:hover {
	color: #3F5784;
	text-decoration: none;
}

/* Images */
img {
	border: none;
}

/* Tables */
table {
	
}

/* Header */
header {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
    background-color: #fff;
	color: #333;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
}

.header-container {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}

.site-logo {
	display: block;
	float: left;
}

.site-logo img {
	width: 70px;
	max-width: 100%;
}

@media (min-width: 768px) {
	
	.site-logo img {
		width: 100px;
	}
	
}

.site-name {
	float: left;
    margin-left: 25px;
    margin-top: 10px;
    bottom: 30px;
    font-size: 1.8em;
	color: #333;
	font-family: 'Roboto Slab';
}

@media (min-width: 768px) {
	
	.site-name {
		font-size: 3em;
		margin-top: 16px;
	}
	
}

/* Nav */
nav {
	display: block;
	float: right;
	margin-top: 24px;
    margin-right: 30px;
}

@media (max-width: 767px) {
	
	nav {
		display: none;
		width: 100%;
		border-top: 1px solid #BEC7C1;
		margin-right: 0;
	}
	
}

nav ul {
	list-style-type: none;
	width: 100%;
	margin-bottom: 0;
}

nav ul li {
	display: block;
	width: 100%;
}

@media (min-width: 768px) {
	
	nav ul li {
		display: inline-block;
		padding: 0 2px;
		width: auto;
	}
	
}

nav a {
	position: relative;
    padding: 12px 16px;
	font-size: 1.6em;
	display: block;
}

@media (min-width: 768px) {
	
	nav a:after {
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: #4b7e41;
		content: '';
		transition: opacity .2s linear, top .2s linear;
	}
	
	nav a:hover:after {
		opacity: 1;
		top: 6px;
	}
	
}

#menu-button {
	display: block;
	position: absolute;
	right: 30px;
	top: 24px;
}

#menu-button .fa {
    font-size: 2.2em;
}

@media (min-width: 768px) {

	#menu-button {
		display: none;
	}

}

/* Main Content */
.container {
	width: 1000px;
	max-width: 100%;
	padding: 15px;
	margin: 75px auto 0 auto;
	clear: both;
}

@media (min-width: 768px) {
	
	.container {
		margin: 110px auto 0 auto;
	}
	
}

.column {
	float: left;
	width: 100%;
}

.column-first p {
    margin-bottom: 2em;
}

.column-first p .fa {
	font-size: 2em;
    padding-right: 10px;
	
}

@media (min-width: 768px) {
	
	.column-first, .column-second {
		margin-top: 20px;
	}

	.column-first {
		width: 35%;
	}

	.column-second {
		width: 65%;
		padding-left: 70px;
	}
	
}

/* Calculator */
input, select, textarea  {
	width: 100%;
    font-size: 1.2em;
    padding: 6px 8px;
	margin: 0;
	font-family: Lato;
}

button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.4em;
    margin: 4px 2px;
    cursor: pointer;
	width: 100%;
}

button .fa {
	padding-right: 2px;
	font-size: 1.6em;
}

.form-col-title {
	display: inline-block;
	margin-right: 4px;
    font-size: 1.4em;
    font-family: 'Roboto Slab';
    margin-bottom: 0.8em;
}

.fct1 {
	width: 50%;
}

.fct2 {
	width: 12%;
}

.fct3 {
	width: 20%;
}

.task {
	margin-bottom: 4px;
}

.task-name {
	width: 50%;
	margin-right: 4px;
}

.task-rate {
	width: 12%;
	margin-right: 4px;
}

.task-cost {
	display: inline-block;
	width: 20%;
	margin-right: 4px;
    font-size: 1.2em;
    padding: 6px 8px;
}


#add-task {
	width: 100%;
    font-size: 1.2em;
    padding: 6px 8px;
	margin-bottom: 1em;
	font-family: Lato;
}

#add-task .fa {
	margin-right: 4px;
}

input.project-name {
	margin-bottom: 1em;
}

.disclaimer {
	margin-top: 30px;
	text-align: center;
	font-size: 1em;
}

/* Contact Form */
label {
	display: block;
	width: 100%;
    font-size: 1.4em;
    font-family: 'Roboto Slab';
    margin-bottom: 0.2em;
}

#contact-form input, #contact-form textarea {
    width: 400px;
    max-width: 100%;
	margin-bottom: 1.5em;
    display: block;
}